@{
    ViewData["Title"] = "PostDetail";
}

<section class="singlePage post">
    <div class="container-fluid">
        <article class="postContent">
            <h1 class="postTitle">Hoạt động vì môi trường</h1>
            <div class="postInfo hoverUnderline">
                <div class="postWrap">
                    <span class="postSpan postDate">
                        <a href="#">January 22, 2015</a>
                    </span>
                </div>
                <div class="postWrap"> </div>
            </div>
            <div class="postTextArea">
                <div class="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sint modi, vitae ratione, quasi sapiente quaerat minima. Aspernatur perspiciatis omnis, a excepturi ullam. Quo facere quibusdam porro quod inventore, eveniet molestias illum, cum, totam voluptatibus suscipit soluta iste ex autem, eum excepturi voluptates doloribus quia eos illo! Necessitatibus perspiciatis sit, iste vel? Blanditiis voluptates commodi, tenetur vero aperiam reprehenderit! Officia voluptatum consectetur reiciendis est, ex consequuntur, omnis provident dolor blanditiis dolorum excepturi. Qui debitis eos nihil voluptatum temporibus ratione, pariatur aperiam, quas alias sed minima iure deleniti! Earum, minus dicta autem, officiis reiciendis minima doloremque labore quia consequatur odio temporibus. Qui debitis eos nihil voluptatum temporibus ratione, pariatur aperiam, quas alias sed minima iure deleniti! Earum, minus dicta autem, officiis reiciendis minima doloremque labore quia consequatur odio temporibus.</p>

                    <div class="sc_slider sc_slider_swiper swiper-container sc_slider_dark sc_slider_swiper_autoheight" data-settings="none">
                        <ul class="slides swiper-wrapper">
                            <li class="swiper-slide" data-theme="dark">
                                <img src="~/images/img1.jpg" width="1240" height="698">
                            </li>
                            <li class="swiper-slide" data-theme="dark">
                                <img src="images/img2.jpg" width="1240" height="698">
                            </li>
                            <li class="swiper-slide" data-theme="dark">
                                <img src="images/img3.jpg" width="1240" height="698">
                            </li>
                            <li class="swiper-slide" data-theme="dark">
                                <img src="images/img4.jpg" width="1240" height="698">
                            </li>
                        </ul>
                    </div>
                    <blockquote>
                        <p>Ut accusamus sit dolorum eveniet, voluptates quae praesentium quasi expedita impedit commodi obcaecati officiis in officia fuga fugit.</p>
                    </blockquote>
                    <p>Inventore magnam laudantium et perspiciatis, explicabo consequuntur quis minima fugit iste, eveniet sint eligendi ipsum consequatur doloremque tenetur quaerat ad autem. Laborum rerum necessitatibus eum, ut dolorem in tenetur deserunt, consequatur quas. Recusandae temporibus natus dolor vero culpa nemo, voluptatum modi officiis et doloremque labore illo quisquam, nam officia alias voluptas corrupti libero harum est autem enim maxime? Molestias perferendis iste, consequuntur illum reiciendis ut quia at necessitatibus voluptas? Quaerat iste, pariatur dolores recusandae inventore reprehenderit enim vel deserunt. Numquam ea reiciendis amet reprehenderit officiis velit nisi quos assumenda, doloremque animi molestias natus laboriosam rerum quaerat minus cumque atque in iusto repellendus aspernatur impedit accusamus voluptates?</p>
                    <p>Nobis quaerat, consequatur atque optio, dolor dolores asperiores iste, repellat deleniti nemo sapiente. Reiciendis autem consequuntur repellat modi, distinctio pariatur, soluta eaque doloribus, quaerat non et eligendi voluptate optio nostrum id. Labore quo, veritatis quod voluptatibus dolor, sit alias atque at nostrum quos nisi eius. Molestias sed tempora quibusdam quo dolore, excepturi impedit, veritatis quos sequi autem deserunt veniam eveniet ab in saepe similique id reprehenderit dignissimos consectetur accusantium neque error officiis omnis soluta ipsum? Aliquam ducimus, aperiam ipsa cum! Sit repellat ex consequatur maiores temporibus, error repudiandae expedita explicabo modi ipsum. Sunt esse ad delectus odio dolore expedita numquam eum iure odit molestias voluptatum pariatur distinctio neque iste tempora fugit, voluptatem enim laboriosam architecto repellendus doloremque obcaecati eligendi officia, vitae. Architecto nihil voluptatibus aut nam non deleniti quae quisquam adipisci ut id provident, in autem quia repellendus dolorem dolore minima eligendi, ratione, illo recusandae, rerum odit molestiae reiciendis! Corrupti ducimus animi, dolores, harum culpa odit iure, dignissimos tenetur illum similique expedita inventore facere voluptates repellat et laborum officia, hic dolorum nemo illo. Alias dicta necessitatibus quam numquam similique quasi magnam aut qui? Porro, natus voluptatum! Suscipit ipsa pariatur non. Nam harum quam tenetur eveniet error debitis vitae, placeat cum voluptatem quidem assumenda dignissimos, optio aspernatur incidunt magnam, nemo, dolorem sunt earum eius. Corporis voluptatem dolores, qui consectetur laborum distinctio perspiciatis quam quo commodi officia deserunt molestias, iure nisi, minus voluptatum minima rem voluptas et libero quia repellendus. Alias quas ipsum quod voluptatum, ex sequi veritatis nesciunt repellendus tenetur quo earum quia sit voluptate nobis repudiandae similique! Magni omnis soluta ullam voluptates nemo quia est a, temporibus tempore. Quam laudantium fuga debitis, doloremque quibusdam, similique ipsa.</p>
                </div>
            </div>
        </article>
    </div>
</section>

