<div id="grid" class="order-detail-area">
    <div class="left-side">
        <div class="btn-group">
            <dx-button class="btn fe-md btn-default" [hint]="lang.instant('Action.Return')" (onClick)="return();"><i class="fa fa-lg fa-undo" aria-hidden="true"></i></dx-button>
        </div>
    </div>
    <div class="right-side">
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{lang.instant('Common.Information')}}</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-3" style="margin-top:5px;padding-right:0px">
                                            <label>{{lang.instant('Common.Code')}}</label>
                                        </div>
                                        <div class="col-xs-9">
                                            <dx-text-box placeholder="{{lang.instant('Order.Code')}}" readOnly="true"
                                                [(ngModel)]="order.code">
                                            </dx-text-box>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-3" style="margin-top:5px;padding-right:0px">
                                            <label>{{lang.instant('Common.Name')}}</label>
                                        </div>
                                        <div class="col-xs-9">
                                            <dx-text-box [(ngModel)]="order.name" readOnly="true">
                                            </dx-text-box>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-3" style="margin-top:5px;padding-right:0px">
                                            <label>{{lang.instant('Order.DeliveriedDate')}}</label>
                                        </div>
                                        <div class="col-xs-9">
                                            <dx-date-box [(value)]="order.buyingDate" type="date" displayFormat="dd/MM/yyyy"
                                                [min]="now" style="width:100%" readOnly="true">
                                            </dx-date-box>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                                            <label>{{lang.instant('Order.DeliveriedLocation')}}</label>
                                        </div>
                                        <div class="col-xs-8">
                                            <dx-select-box [dataSource]="locations" displayExpr="name" valueExpr="id"
                                                [(ngModel)]="order.shipTo" readOnly="true">
                                            </dx-select-box>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                                            <label>{{lang.instant('Order.BillLocation')}}</label>
                                        </div>
                                        <div class="col-xs-8">
                                            <dx-select-box [dataSource]="locations" displayExpr="name" valueExpr="id"
                                                [(ngModel)]="order.billTo" readOnly="true">
                                            </dx-select-box>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="box-body">
        <h3>{{lang.instant('Order.OrderList')}}</h3>
        <dx-data-grid [dataSource]="order.items" [showBorders]="true">
            <dxi-column dataField="productId" [caption]="lang.instant('Admin.Product')">
                <dxo-lookup [dataSource]="products" valueExpr="id" displayExpr="name">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="price" [caption]="lang.instant('Common.Price')" format="#,##0.## VND" [formItem]="{visible: false}">
            </dxi-column>
            <dxi-column dataField="orderedQuantity" [caption]="lang.instant('Order.OrderedQuantity')" dataType="number">
            </dxi-column>
            <dxi-column dataField="uoMId" [caption]="lang.instant('Admin.UoM')">
                <dxo-lookup [dataSource]="uoms" valueExpr="id" displayExpr="name">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="totalAmount" [caption]="lang.instant('Common.TotalAmount')" format="#,##0.## VND" [formItem]="{visible: false}">
            </dxi-column>
            <dxo-summary>
                <dxi-total-item column="totalAmount" summaryType="sum"valueFormat="#,##0.##" displayFormat="{0} VND"
                </dxi-total-item>
            </dxo-summary>
        </dx-data-grid>
    </div>
</div>