<div id="grid">
  <div class="left-side">
    <div class="btn-group">
      <dx-button class="btn fe-md btn-default" [hint]="lang.instant('Action.Refresh')" (onClick)="refresh()"><i
          class="fa fa-lg fa-refresh" aria-hidden="true"></i></dx-button>
      <dx-button class="btn fe-md btn-primary" [disabled]="chooseDistribution == null" [hint]="lang.instant('Action.Create')" (onClick)="create()"><i
          class="fa fa-lg fa-plus" aria-hidden="true"></i></dx-button>
      <dx-button class="btn fe-md btn-primary" [hint]="lang.instant('Action.Update')"
        [disabled]="selectedRows?.length != 1 || getTrip(selectedRows[0])?.statusId > 1 || selectedRows[0] == -1" (onClick)="update()"><i
          class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i></dx-button>
      <dx-button class="btn fe-md btn-danger" [hint]="lang.instant('Action.Delete')"
        [disabled]="selectedRows?.length != 1 || getTrip(selectedRows[0])?.statusId > 1 || selectedRows[0] == -1" (onClick)="delete()"><i
          class="fa fa-lg fa-trash" aria-hidden="true"></i></dx-button>
      <dx-button class="btn fe-md btn-primary" [hint]="lang.instant('Action.Confirm')"
        [disabled]="selectedRows?.length != 1 || getTrip(selectedRows[0])?.statusId != 1 || selectedRows[0] == -1" (onClick)="confirm()"><i
          class="fa fa-lg fa-paper-plane" aria-hidden="true"></i></dx-button>
    </div>
  </div>
  <div class="left-side">
      <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                        <label>{{lang.instant('Admin.Distribution')}}</label>
                      </div>
                      <div class="col-xs-8">
                        <dx-select-box [dataSource]="distributions" [(ngModel)]="chooseDistribution" displayExpr="name" (onValueChanged)="distributionChanged($event)">
                        </dx-select-box>
                      </div>
                    </div>
                  </div>
                  <!-- /.form-group -->
                </div>
              </div>
        </div>
      </div>
    </div>
  <div class="left-side">
    <dx-data-grid id="gridContainer" [columnAutoWidth]="true" [dataSource]="trips" [(selectedRowKeys)]="selectedRows"
      [showBorders]="true" keyExpr="id" (onRowUpdating)="tripUpdating($event)" (onRowInserting)="tripAdding($event)"
      [masterDetail]="{ enabled: true, template: 'detail' }" (onRowExpanding)="onTripExpanding($event)">
      <dxo-editing mode="form">
      </dxo-editing>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-filter-row visible="true"></dxo-filter-row>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true">
      </dxo-pager>

      <dxi-column dataField="code" [caption]="lang.instant('Common.Code')" [formItem]="{visible: false}"></dxi-column>
      <dxi-column dataField="routerId" [caption]="lang.instant('Delivery.Router')">
        <dxo-lookup [dataSource]="routers" valueExpr="id" displayExpr="name">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="deliveryManId" [caption]="lang.instant('Delivery.DeliveryMan')">
        <dxo-lookup [dataSource]="deliveryMans" valueExpr="id" displayExpr="fullName">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="driverId" [caption]="lang.instant('Delivery.Driver')">
        <dxo-lookup [dataSource]="drivers" valueExpr="id" displayExpr="fullName">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="vehicleId" [caption]="lang.instant('Delivery.Vehicle')">
        <dxo-lookup [dataSource]="vehicles" valueExpr="id" displayExpr="name">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="deliveryDate" [caption]="lang.instant('Delivery.DeliveryDate')" dataType="date"
        allowEditing="false" [editorOptions]="{ min: now }">
        <dxi-validation-rule type="required" message="{{lang.instant('Validation.Required')}}">
        </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="statusId" [caption]="lang.instant('Common.Status')" cellTemplate="statusTemplate"
        [formItem]="{visible: false}">
        <dxo-lookup [dataSource]="statuses" valueExpr="id" displayExpr="name">
        </dxo-lookup>
      </dxi-column>

      <div *dxTemplate="let status of 'statusTemplate'">
        <span class="label"
          [style.background-color]="getStatus(status.value)?.flagColor">{{getStatus(status.value).name}}</span>
      </div>

      <div *dxTemplate="let trip of 'detail'">
        <dx-data-grid [dataSource]="trip.data.orders" [showBorders]="true" [columnAutoWidth]="true">
          <dxi-column dataField="code" [caption]="lang.instant('Common.Code')"></dxi-column>
          <dxi-column dataField="retailer.name" [caption]="lang.instant('Admin.Retailer')"></dxi-column>
          <dxi-column dataField="ship" [caption]="lang.instant('Common.Address')" cellTemplate="addressTemplate">
          </dxi-column>
          <dxi-column dataField="id" [caption]="lang.instant('Action.Move')" cellTemplate="moveTemplate"></dxi-column>
          <div *dxTemplate="let ship of 'addressTemplate'">
            <div>{{ship?.value?.address.street}}</div>
          </div>

          <div *dxTemplate="let order of 'moveTemplate'">
            <dx-select-box *ngIf="trip.data.id == -1 || getTrip(trip.data.id)?.statusId == 1" [dataSource]="awaitTrips" displayExpr="code"
              valueExpr="id" (onValueChanged)="onOrderChangeTrip($event, order.value, order.data.tripId)">
            </dx-select-box>
          </div>

        </dx-data-grid>
      </div>
    </dx-data-grid>
  </div>
</div>