<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="~/images/favicon.png">
    <link rel='stylesheet' href='~/js/vendor/woocommerce/css/select2.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/js/vendor/woocommerce/css/woocommerce-layout.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/js/vendor/woocommerce/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href='~/js/vendor/woocommerce/css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/css/woo-style.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Condensed">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/datetime-picker/bootstrap-datetimepicker.min.css" />
    <link rel='stylesheet' href='~/js/vendor/swiper/idangerous.swiper.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/js/vendor/swiper/idangerous.swiper.scrollbar.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/js/vendor/magnific-popup/magnific-popup.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/css/fontello/css/animation.css' type='text/css' media='all' />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel='stylesheet' href='~/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/css/shortcodes.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media='all'>
    <link rel='stylesheet' href='~/css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/css/custom_style.css' type='text/css' media='all' />
</head>
