@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> L

<section class="" style="margin:0; padding:0">
    <div class="container-fluid" style="margin:0; padding:0">
        <span class="sc_title_header">
            @L["Index_Welcome"]
        </span>
        <div class="sc_slider sc_slider_style_1 sc_slider_swiper sc_slider_controls swiper-container sc_slider_swiper_autoheight">
            <ul class="slides swiper-wrapper" data-settings="none">
                <li class="swiper-slide slider_image_1" data-theme="dark"></li>
                <li class="swiper-slide slider_image_2" data-theme="dark"></li>
                <li class="swiper-slide slider_image_3" data-theme="dark"></li>
                <li class="swiper-slide slider_image_4" data-theme="dark"></li>
                <li class="swiper-slide slider_image_5" data-theme="dark"></li>
                <li class="swiper-slide slider_image_6" data-theme="dark"></li>
                <li class="swiper-slide slider_image_7" data-theme="dark"></li>
                <li class="swiper-slide slider_image_8" data-theme="dark"></li>
            </ul>
            <ul class="slider-control-nav">
                <li class="slide-prev">
                    <a class="icon-left-open-big" style="text-decoration: none;" href="#"></a>
                </li>
                <li class="slide-next">
                    <a class="icon-right-open-big" style="text-decoration: none;" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</section>