
<div class="sc_line  sc_line_style_dotted"></div>
<h4>Share</h4>

<a href="#" class="fa fa-facebook"></a>
@*<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>*@
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-zalo">
    <img src="~/images/zalo.png"/>
</a>