::ng-deep #grid {
  position: relative;
  background-color: white;
  padding: 10px;
}

  /*::ng-deep #grid .dx-state-disabled.dx-widget {
    opacity: 1;
  }*/

  ::ng-deep #grid .right-side {
    position: absolute;
    right: 1px;
    top: 6px;
  }

  ::ng-deep #grid .left-side {
    background-color: rgba(0, 0, 0, 0);
  }

  ::ng-deep #grid .logo {
    line-height: 48px;
  }

    ::ng-deep #grid .logo img {
      vertical-align: middle;
      margin: 0 5px;
    }

  ::ng-deep #grid .dx-row.dx-data-row .employee {
    color: #bf4e6a;
    font-weight: bold;
  }

  ::ng-deep #grid #gridContainer {
    margin: 20px 0;
  }

::ng-deep .fe-md {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  height: 30px;
}
