USE [master]
GO
/****** Object:  Database [Test]    Script Date: 11/16/2018 3:10:55 PM ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Test.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Test_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/16/2018 3:10:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Type] [int] NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](100) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[User] ([Id], [UserName], [Type], [Password], [FullName], [ImagePath]) VALUES (N'ee80c417-daeb-443a-ad58-11a67bc9e3f3', N'admin', 1, N'21232F297A57A5A743894A0E4A801FC3', N'admin', NULL)
INSERT [dbo].[User] ([Id], [UserName], [Type], [Password], [FullName], [ImagePath]) VALUES (N'3cce9c03-96b8-4814-bc9d-cff22f51af72', N'user1', 1, N'24C9E15E52AFC47C225B757E7BEE1F9D', N'', N'')
USE [master]
GO
