<section>
    <article>
        <div class="page404">
            <h2 class="title404">404</h2>
            <p>
                Go back, or return to <a href="index.html">ARITNT</a> home page to choose a new page.<br>
                Please report any broken links to our team.
            </p>
            <a href="/" class="sc_button margin_top_30 sc_button_skin_global sc_button_style_bg sc_button_size_medium">go back home</a>
        </div>
    </article>
</section>

