
@{
    ViewData["Title"] = "CookingRecipeDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<di class="container-fluid">

    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-8">
            <h5>TÔM HẤP CHẤM MUỐI CHANH ỚT DASAVI</h5>
            <div class="postWrap">
                <span class="postSpan postDate">
                    <a href="#">17/04/2017</a>
                </span>
            </div>
            <img class="img-responsive" src="~/images/tom-hap-detail.jpg">
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <h5>Xem nhiều nhất</h5>
                <img class="img-responsive" src="~/images/tom-hap-detail.jpg">
            </div>
        </div>
    </div>
    <div class="sc_line  sc_line_style_dotted"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="title">
                <h5>Nguyên liệu</h5>
            </div>
            <div class="content">
                <ul>
                    <li>01 kg t&ocirc;m s&uacute; hoặc t&ocirc;m thẻ</li>
                    <li><span class="val">04-06 c&acirc;y sả</span></li>
                    <li>03 tr&aacute;i ớt sừng</li>
                    <li>Rau răm</li>
                    <li>Muối chanh ớt DASAVI</li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="title">
                <h5>Cách chế biến</h5>
                <div class="content">
                    <ul>
                        <li>T&ocirc;m rửa sạch, sả, ớt xắt l&aacute;t.</li>
                        <li>Cho t&ocirc;m v&agrave;o nồi c&ugrave;ng sả, ớt xắt l&aacute;t v&agrave; 01 muỗng canh nước.</li>
                        <li>Hấp khoảng 05 ph&uacute;t, khi t&ocirc;m ch&iacute;n v&agrave;ng l&agrave; được.</li>
                        <li>Cho t&ocirc;m ra đĩa ăn k&egrave;m với rau răm v&agrave; chấm Muối chanh ớt DASAVI.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <partial name="_Social"></partial>
</di>

