
@{
    ViewData["Title"] = "FarmerNetwork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 style="text-align:center;">Mạng lưới người nông dân</h1>
<div class="sc_line  sc_line_style_dotted"></div>
<div class="well" style="background-color: #FFECB3;">Nội dung đang cập nhật</div>
@*<div class="col-md-4">
    <h4>Miền bắc</h4>
    <br />
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
</div>
<div class="col-md-4">
    <h4>Miền trung</h4>
    <br />
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
</div>
<div class="col-md-4">

    <h4>Miền nam</h4>
    <br />
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker-alt fa-1x" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
</div>
<div class="col-md-12" style="padding-bottom: 4%; padding-top: 4%;">
    <img class="img-responsive" src="~/images/img_map.png" >
</div>*@
