
@{
    ViewData["Title"] = "Gifts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center;">Quà tặng</h2>
<div class="sc_line  sc_line_style_dotted"></div>
<div class="well" style="background-color: #FFECB3;">Chưa có chương trình quà tặng</div>
@*<section class="section_padding_top_80">
    <div class="sc_team sc_team_section_1 sc_team_item_style_1">
        <div class="sc_columns_4 sc_columns_indent">
            <div class="sc_columns_item">
                <div class="sc_team_item sc_team_item_1 odd first">
                    <div class="sc_team_item_avatar_wrap">
                        <div class="sc_team_item_avatar ">
                            <a>
                                <img src="~/images/gifts.png">
                            </a>
                        </div>
                        <span>
                            Mã giảm giá
                        </span>
                    </div>

                </div>
            </div>
            <div class="sc_columns_item">
                <div class="sc_team_item sc_team_item_1 odd first">
                    <div class="sc_team_item_avatar_wrap">
                        <div class="sc_team_item_avatar ">
                            <a>
                                <img src="~/images/gifts.png">
                            </a>
                        </div>
                        <span>
                            Quà tặng
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>*@
<div class="sc_line  sc_line_style_dotted"></div>

