
@{
    ViewData["Title"] = "ProductReturn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Chính sách đổi trả</h2>
<br />
<h4>1. Lỗi từ nhà sản xuất</h4>
<br />
<span>
    Nếu sản phẩm có lỗi từ nhà sản xuất, công ty sẽ đổi hàng và chịu mợi chi phí phát sinh
</span>
<br />
<br />
<h4>2. Lỗi không phải từ nhà sản xuất</h4>
<br />
<span>
    Liên hệ hotline: <strong>08.89343777</strong>
</span>