@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> L
@model List<FaqViewModel>
@{
    ViewData["Title"] = "TheMedia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Truyền thông</h2>
<div class="sc_line  sc_line_style_dotted"></div>
<section class="section_padding_top_80">
    <h3 class="sc_title sc_title_center sc_title_style_1 margin_bottom_50 text-cooking">
        Đánh giá từ khách hàng
    </h3>
    <div class="alert alert-info">
        <strong>@L["UpdateLoading"]</strong>
    </div>
    @*<div class="sc_team sc_team_section_1 sc_team_item_style_1">
            <div class="sc_columns_4 sc_columns_indent">
                <div class="sc_columns_item">
                    <div class="sc_team_item sc_team_item_1 odd first">
                        <div class="sc_team_item_avatar_wrap">
                            <div class="sc_team_item_avatar ">
                                <a>
                                    <img src="~/images/thit-bo.png">
                                </a>
                            </div>
                            <span>
                                Đánh giá sản phẩm từ khách hàng
                            </span>
                        </div>

                    </div>
                </div>
                <div class="sc_columns_item">
                    <div class="sc_team_item sc_team_item_1 odd first">
                        <div class="sc_team_item_avatar_wrap">
                            <div class="sc_team_item_avatar ">
                                <a>
                                    <img src="~/images/thit-bo.png">
                                </a>
                            </div>
                            <span>
                                Đánh giá sản phẩm từ khách hàng
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@
</section>
<div class="sc_line  sc_line_style_dotted"></div>
<section class="section_padding_top_80">
    <h3 class="sc_title sc_title_center sc_title_style_1 margin_bottom_50 text-cooking">
        Hình ảnh
    </h3>
    <div class="alert alert-info">
        <strong>@L["UpdateLoading"]</strong>
    </div>
    @*<div class="sc_team sc_team_section_1 sc_team_item_style_1">
            <div class="sc_columns_4 sc_columns_indent">
                <div class="sc_columns_item">
                    <div class="sc_team_item sc_team_item_1 odd first">
                        <div class="sc_team_item_avatar_wrap">
                            <div class="sc_team_item_avatar ">
                                <a>
                                    <img src="~/images/thit-bo.png">
                                </a>
                            </div>
                            <span>
                                Đánh giá sản phẩm từ khách hàng
                            </span>
                        </div>

                    </div>
                </div>
                <div class="sc_columns_item">
                    <div class="sc_team_item sc_team_item_1 odd first">
                        <div class="sc_team_item_avatar_wrap">
                            <div class="sc_team_item_avatar ">
                                <a>
                                    <img src="~/images/thit-bo.png">
                                </a>
                            </div>
                            <span>
                                Đánh giá sản phẩm từ khách hàng
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@
</section>
<div class="sc_line  sc_line_style_dotted"></div>
<section class="section_padding_top_80">
    <h3 class="sc_title sc_title_center sc_title_style_1 margin_bottom_50 text-cooking">
        CLIP
    </h3>
    <div class="alert alert-info">
        <strong>@L["UpdateLoading"]</strong>
    </div>
    @*<div class="sc_team sc_team_section_1 sc_team_item_style_1">
            <div class="sc_columns_4 sc_columns_indent">
                <div class="sc_columns_item">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    <span>
                        Đánh giá sản phẩm từ khách hàng
                    </span>
                </div>
            </div>
        </div>*@
</section>