
@{
    ViewData["Title"] = "Value";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ol.c {
        list-style-type: upper-roman;
    }

    h3 {
        color: red;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .imgs {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    #content {
        border: black;
        background: #FFECB3;
        /*box-shadow: 20px 20px 5px 0px #c0c0c0;*/
        /*background-image: url("/images/leaf1.png");*/
        /*background-image: repeating-linear-gradient(red, yellow 10%, green 20%);*/
    }

    li {
        color: black;
    }

    p {
        text-align: right;
        color: black;
    }
</style>

<div class="container" id="content">
    <div class="row col-md-1">
    </div>
    <div class="row col-md-10">
        <div class="imgs">
            <img src="~/images/logo_220_82.png" />
        </div>
        <div>
            <h3><strong>SỨ MỆNH VÀ GIÁ TRỊ</strong></h3>
            <ol class="c">
                <li>
                    <strong>SỨ MỆNH CÔNG TY:</strong>
                    <ol>
                        <li>TINH THẦN XANH, CUỘC SỐNG XANH.</li>
                        <li>CUNG CẤP CHO NGƯỜI TIÊU DÙNG NHỮNG NÔNG SẢN XANH, SẠCH VÀ TỐT CHO SỨC KHỎE.</li>
                        <li>HƯỚNG TỚI PHƯƠNG THỨC CANH TÁC, SẢN XUẤT VÀ CHẾ BIẾN THÂN THIỆN, HÀI HÒA VỚI THIÊN NHIÊN.</li>
                        <li>SẢN XUẤT KINH DOANH KHÔNG CHỈ VÌ TIỀN MÀ CÒN VÌ MỘT XÃ HỘI CÔNG BẰNG, ẤM NO, HẠNH PHÚC.</li>
                        <li>XÂY DỰNG MỘT TỔ CHỨC MÀ MỌI THÀNH VIÊN ĐỀU ĐƯỢC COI TRỌNG, LẮNG NGHE VÀ HƯỞNG THÀNH QUẢ LAO ĐỘNG DO MÌNH TẠO RA MỘT CÁCH CÔNG BẰNG.</li>
                        <li>TRUYỀN BÁ TINH THẦN VÌ MỘT VIỆT NAM XANH, SẠCH, GIÀU MẠNH VÀ NHÂN ÁI.</li>
                        <li>
                            NGHIÊN CỨU VÀ ỨNG DỤNG CÔNG NGHỆ 4.0 VÀO CHUỖI  GIÁ TRỊ NÔNG NGHIỆP VIỆT:
                            <ul>
                                <li>GIÚP CANH TÁC THÔNG MINH HƠN VÀ XANH HƠN.</li>
                                <li>GIÚP KẾT NỐI NGƯỜI NÔNG DÂN ĐẾN THỊ TRƯỜNG MỘT CÁCH NHANH NHẤT VÀ HIỆU QUẢ NHẤT.</li>
                                <li>GIÚP NGƯỜI TIÊU DÙNG TRUY XUẤT TOÀN BỘ DỮ LIỆU VỀ QUY TRÌNH CANH TÁC , CHẾ BIẾN VÀ PHÂN PHỐI.</li>
                            </ul>
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>GIÁ TRỊ CÔNG TY:</strong>
                    <ol>
                        <li>TẦM NHÌN XA VÀ RỘNG.</li>
                        <li>HỢP TÁC VÀ SẺ CHIA.</li>
                        <li>CHÍNH TRỰC.</li>
                        <li>KỶ LUẬT.</li>
                        <li>CHĂM CHỈ.</li>
                        <li>SÁNG TẠO.</li>
                        <li>DŨNG CẢM.</li>
                        <br />
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <div class="row col-md-1">
    </div>
</div>