<div id="grid" class="distribution-detail-area">
    <div class="left-side">
        <div class="btn-group">
            <dx-button class="btn fe-md btn-primary" [hint]="lang.instant('Action.Save')" (onClick)="save();"><i
                    class="fa fa-lg fa-save" aria-hidden="true"></i></dx-button>
            <dx-button class="btn fe-md btn-default" [hint]="lang.instant('Action.Refresh')" *ngIf="type == 'update'"
                (onClick)="refresh();"><i class="fa fa-lg fa-refresh" aria-hidden="true"></i></dx-button>
            <dx-button class="btn fe-md btn-default" [hint]="lang.instant('Action.Return')" (onClick)="return();"><i
                    class="fa fa-lg fa-undo" aria-hidden="true"></i></dx-button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-2">
                <div class="container-avatar clear-fix">
                    <img class="distribution-avatar" [attr.src]="distribution.imageData" />
                    <button class="distribution-choose-image" (click)="inputChooseAvatar.click()">
                        <i class="fa fa-cloud-download">
                        </i>
                    </button>
                    <input #inputChooseAvatar type="file" accept="image/*" style="display:none"
                        (change)="avatarChangeEvent($event, this)">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Common.Code')}}</label>
                        </div>
                        <div class="col-xs-8">
                            <dx-text-box placeholder="{{lang.instant('Common.Code')}}" readOnly="true"
                                [(ngModel)]="distribution.code">
                            </dx-text-box>
                        </div>
                    </div>
                </div>

                <!-- /.form-group -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Common.Name')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-text-box placeholder="{{lang.instant('Common.Name')}}" [(ngModel)]="distribution.name"
                                [(isValid)]="isNameValid" [maxLength]="50">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{lang.instant('Validation.Required')}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" max="50"
                                        message="{{lang.instant('Validation.WrongLength')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <!-- /.form-group -->

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Common.ActivedRadius')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-number-box [(ngModel)]="distribution.radius" min="0" max="99999999">
                            </dx-number-box>
                        </div>
                    </div>
                </div>
                <!-- /.form-group -->
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12" style="margin-top:5px;margin-bottom:5px;padding-right:0px">
                            <dx-check-box [(ngModel)]="distribution.isUsed" text="{{lang.instant('Common.Active')}}">
                            </dx-check-box>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Admin.Manager')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-select-box [dataSource]="managers" (onFocusIn)="employeeFocusIn($event)"
                                [(ngModel)]="distribution.managerId" displayExpr="fullName" valueExpr="id"
                                [(isValid)]="isManagerValid">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{lang.instant('Validation.Required')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <h3>{{lang.instant('Admin.Address')}}</h3>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Admin.Address.Country')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-select-box [dataSource]="allCountries" (onFocusIn)="countryFocusIn($event)"
                                [(ngModel)]="distribution.address.countryId" displayExpr="name" valueExpr="id"
                                [(isValid)]="isAddressCountryValid">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{lang.instant('Validation.Required')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Admin.Address.Province')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-select-box [dataSource]="provinces" (onFocusIn)="provinceFocusIn($event)"
                                [(ngModel)]="distribution.address.provinceId" displayExpr="name" valueExpr="id"
                                [(isValid)]="isAddressProvinceValid">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{lang.instant('Validation.Required')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Admin.Address.District')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-select-box [dataSource]="districts" (onFocusIn)="districtFocusIn($event)"
                                [(ngModel)]="distribution.address.districtId" displayExpr="name" valueExpr="id"
                                [(isValid)]="isAddressDistrictValid">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{lang.instant('Validation.Required')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Admin.Address.Ward')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-select-box [dataSource]="wards" (onFocusIn)="wardFocusIn($event)"
                                [(ngModel)]="distribution.address.wardId" displayExpr="name" valueExpr="id"
                                [(isValid)]="isAddressWardValid">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{lang.instant('Validation.Required')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Admin.Address.Street')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-text-box placeholder="{{lang.instant('Admin.Geographical.Street')}}"
                                [(ngModel)]="distribution.address.street" [(isValid)]="isAddressStreetValid"
                                [maxLength]="100">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{lang.instant('Validation.Required')}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" max="100"
                                        message="{{lang.instant('Validation.WrongLength')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Admin.Address.Longitude')}}/{{lang.instant('Admin.Address.Latitude')}}<span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-5" style="padding-left: 15px;padding-right: 5px">
                                    <dx-number-box [(ngModel)]="distribution.address.longitude" min="-90" max="90">
                                    </dx-number-box>
                                </div>
                                <div class="col-xs-5" style="padding-left: 7px;padding-right: 8px">
                                    <dx-number-box [(ngModel)]="distribution.address.latitude" min="-180" max="180">
                                    </dx-number-box>
                                </div>
                                <div class="col-xs-2" style="padding-left: 5px;padding-right: 15px">
                                    <dx-button class="btn fe-md btn-default" [hint]="lang.instant('Common.Map')"
                                        (onClick)="openMap();" style="height: 36px"><i class="fa fa-lg fa-map"
                                            aria-hidden="true"></i></dx-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>{{lang.instant('Admin.Contact')}}</h3>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Admin.Contact.FullName')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-text-box placeholder="{{lang.instant('Admin.Contact.FullName')}}"
                                [(ngModel)]="distribution.contact.name" [(isValid)]="isContactNameValid"
                                [maxLength]="50">
                                <dx-validator>
                                    <dxi-validation-rule type="pattern" [pattern]="vietnamesePattern"
                                        message="{{lang.instant('Validation.WrongFormat')}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="required"
                                        message="{{lang.instant('Validation.Required')}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" max="50"
                                        message="{{lang.instant('Validation.WrongLength')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Common.Phone')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-text-box placeholder="{{lang.instant('Common.Phone')}}"
                                [(ngModel)]="distribution.contact.phone" [(isValid)]="isContactPhoneValid"
                                [maxLength]="50">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{lang.instant('Validation.Required')}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" max="50"
                                        message="{{lang.instant('Validation.WrongLength')}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="pattern" [pattern]="phonePattern"
                                        message="{{lang.instant('Validation.WrongFormatPhone')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Common.Email')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-text-box placeholder="{{lang.instant('Distribution.Contact.Email')}}"
                                [(ngModel)]="distribution.contact.email" [(isValid)]="isContactEmailValid"
                                [maxLength]="50">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{lang.instant('Validation.Required')}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" max="50"
                                        message="{{lang.instant('Validation.WrongLength')}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="email"
                                        message="{{lang.instant('Validation.WrongFormatEmail')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4" style="margin-top:5px;padding-right:0px">
                            <label>{{lang.instant('Common.Gender')}} <span
                                    class="dx-field-item-required-mark">*</span></label>
                        </div>
                        <div class="col-xs-8">
                            <dx-select-box [dataSource]="genders" [(ngModel)]="distribution.contact.gender"
                                displayExpr="name" valueExpr="id" [(isValid)]="isGenderValid">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{lang.instant('Validation.Required')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h3>{{lang.instant('Admin.Manager')}} {{lang.instant('Admin.Employee')}}</h3>
    <div class="left-side">
        <div class="btn-group">
            <dx-button class="btn fe-md btn-default" [hint]="lang.instant('Action.Refresh')"
                [disabled]="distribution.id == 0" (onClick)="grid.refresh();"><i class="fa fa-lg fa-refresh"
                    aria-hidden="true"></i></dx-button>
            <dx-button class="btn fe-md btn-primary" [hint]="lang.instant('Action.Add')"
                [disabled]="distribution.id == 0" (onClick)="grid.create()"><i class="fa fa-lg fa-plus"
                    aria-hidden="true"></i></dx-button>
            <dx-button class="btn fe-md btn-primary" [hint]="lang.instant('Action.Update')"
                [disabled]="selectedRows?.length != 1" (onClick)="grid.update()"><i class="fa fa-lg fa-pencil-square-o"
                    aria-hidden="true"></i></dx-button>
            <dx-button class="btn fe-md btn-danger" [hint]="lang.instant('Action.Delete')"
                [disabled]="selectedRows?.length != 1" (onClick)="grid.delete()"><i class="fa fa-lg fa-trash"
                    aria-hidden="true"></i></dx-button>
        </div>
    </div>
    <div class="right-side">
        <!--<dx-select-box></dx-select-box>-->
    </div>
    <dx-data-grid #gridContainer id="gridContainer" [columnAutoWidth]="true" [dataSource]="dataSource"
        [(selectedRowKeys)]="selectedRows" [showBorders]="true" (onRowUpdating)="grid.updateProcess($event)" (onRowInserting)="grid.createProcess($event)">
        <dxo-selection mode="single"></dxo-selection>
        <dxo-editing mode="form">
        </dxo-editing>
        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true">
        </dxo-pager>
        <dxi-column dataField="employeeId" [caption]="lang.instant('Admin.Employee')">
            <dxi-validation-rule type="required" message="{{lang.instant('Validation.Required')}}">
            </dxi-validation-rule>
            <dxo-lookup [dataSource]="employees" valueExpr="id" displayExpr="fullName">
            </dxo-lookup>
        </dxi-column>
    </dx-data-grid>
</div>
<dx-popup [title]="lang.instant('Admin.Address.Longitude') + '/' + lang.instant('Admin.Address.Latitude')"
    [(visible)]="isOpenMap">
    <div *dxTemplate="let data of 'content'">
        <agm-map style="height: 400px;" [latitude]="centerLat" [longitude]="centerLong" [usePanning]="usePanning"
            [zoom]="10">

            <agm-circle [longitude]="distribution.address.longitude" [latitude]="distribution.address.latitude"
                [radius]="distribution.radius" [fillColor]="'red'" [circleDraggable]="true" [editable]="true"
                (centerChange)="centerChange($event)" (radiusChange)="radiusChange($event)">
            </agm-circle>
        </agm-map>
    </div>
</dx-popup>