<div id="grid">
    <div class="left-side">
        <div class="btn-group">
            <dx-button class="btn fe-md btn-default" (onClick)="actions.refresh()"><i class="fa fa-lg fa-refresh"
                    aria-hidden="true"></i></dx-button>
            <dx-button class="btn fe-md btn-primary" (onClick)="actions.showCreate()"><i class="fa fa-lg fa-plus"
                    aria-hidden="true"></i></dx-button>
            <dx-button class="btn fe-md btn-warning" [disabled]="selectedRows?.length != 1"
                (onClick)="actions.showUpdate()"><i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
            </dx-button>
            <dx-button class="btn fe-md btn-danger" [disabled]="!selectedRows?.length" (onClick)="actions.delete()"><i
                    class="fa fa-lg fa-trash" aria-hidden="true"></i></dx-button>
        </div>

        <div [hidden]="!btnActions?.length" class="btn-group btn-action">
            <dx-button *ngFor="let item of btnActions; let i = index" class="btn fe-md {{item.classButton}}"
                [disabled]="(!selectedRows?.length && item.isSelected) || (selectedRows?.length != 1 && item.isOneSelected)"
                (onClick)="item.click($event)">
                <i [hidden]="!item.icon?.length" class="fa fa-lg {{item.icon}}" aria-hidden="true"></i>
                {{item.text}}
            </dx-button>
        </div>
    </div>

    <div [hidden]="!filters?.length" class="right-side">
        <div class="filter" *ngFor="let item of filters; let i = index">
            <label>{{item.caption}}</label>
            <dx-select-box [items]="item.data" [(selectedItem)]="filters[i].selected" displayExpr="text"
                valueExpr="value"></dx-select-box>
        </div>
        <dx-button class="btn fe-md btn-default" (onClick)="actions.refresh()">Apply</dx-button>
    </div>

    <div [hidden]="!filters?.length" class="right-side">
        <div class="filter" *ngFor="let item of filters; let i = index">
            <label>{{item.caption}}</label>
            <dx-select-box [items]="item.data" [(selectedItem)]="filters[i].selected" displayExpr="text"
                valueExpr="value"></dx-select-box>
        </div>
        <dx-button class="btn fe-md btn-default" (onClick)="actions.refresh()">Apply</dx-button>
    </div>

    <dx-tree-list id="gridContainer" [parentIdExpr]="parentIdExpr" [dataSource]="dataSource" [columns]="columns" [(selectedRowKeys)]="selectedRows"
        [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true"
        (onEditorPreparing)="onEditorPreparing($event)" (onCellClick)="onCellClick($event)">
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true">
        </dxo-pager>
        <dxo-editing mode="form" [refreshMode]="reshape"></dxo-editing>
        <dxo-selection mode="single" [showCheckBoxesMode]="checkBoxesMode"></dxo-selection>
    </dx-tree-list>
</div>