<div id="grid">
  <div class="left-side">
    <div class="btn-group">
        <dx-button class="btn fe-md btn-default" [hint]="lang.instant('Action.Refresh')" (onClick)="refresh()"><i class="fa fa-lg fa-refresh" aria-hidden="true"></i></dx-button>
      <dx-button class="btn fe-md btn-primary" [hint]="lang.instant('Action.Create')" (onClick)="create()"><i class="fa fa-lg fa-plus" aria-hidden="true"></i></dx-button>
      <dx-button class="btn fe-md btn-primary" [hint]="lang.instant('Action.Update')" [disabled]="isCantAction()" (onClick)="update()"><i class="fa fa-lg fa-pencil-square-o"
          aria-hidden="true"></i></dx-button>
      <dx-button class="btn fe-md btn-danger" [hint]="lang.instant('Action.Delete')" [disabled]="isCantAction()" (onClick)="delete()"><i class="fa fa-lg fa-trash"
          aria-hidden="true"></i></dx-button>
    </div>
  </div>
  <div class="right-side">
    <!--<dx-select-box></dx-select-box>-->
  </div>
  <dx-data-grid id="gridContainer" [dataSource]="orders" [columnAutoWidth]="true" [masterDetail]="{ enabled: true, template: 'detail' }" [showBorders]="true" [(selectedRowKeys)]="selectedRows">
    <dxo-selection mode="single"></dxo-selection>

    <dxo-filter-row visible="true"></dxo-filter-row>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true">
    </dxo-pager>

    <dxi-column dataField="code" [caption]="lang.instant('Common.Code')"></dxi-column>
    <dxi-column dataField="name" [caption]="lang.instant('Common.Name')"></dxi-column>
    <dxi-column dataField="totalAmount" [caption]="lang.instant('Common.TotalAmount')" format="#,##0.## VND"></dxi-column>
    <dxi-column dataField="buyingDate" [caption]="lang.instant('Order.DeliveriedDate')" dataType="date"></dxi-column>
    <dxi-column dataField="statusId" [caption]="lang.instant('Common.Status')">
      <dxo-lookup [dataSource]="statuses" valueExpr="id" displayExpr="name">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="createdDate" [caption]="lang.instant('Order.OrderedDate')" dataType="date"></dxi-column>

    <div *dxTemplate="let order of 'detail'">
      <div class="master-detail-caption">{{lang.instant('Order.OrderList')}}</div>
      <dx-data-grid [dataSource]="order.data.items" [showBorders]="true" [columnAutoWidth]="true">
        <dxi-column dataField="product.defaultName" [caption]="lang.instant('Admin.Product')"></dxi-column>
        <dxi-column dataField="price" [caption]="lang.instant('Common.Price')" format="#,##0.## VND"></dxi-column>
        <dxi-column dataField="orderedQuantity" [caption]="lang.instant('Order.OrderedQuantity')"></dxi-column>
        <dxi-column dataField="adapQuantity" [caption]="lang.instant('Order.AdapedQuantity')"></dxi-column>
        <dxi-column dataField="deliveriedQuantity" [caption]="lang.instant('Order.DeliveredQuantity')"></dxi-column>
        <dxi-column dataField="uoM.name" [caption]="lang.instant('Admin.UoM')"></dxi-column>
      </dx-data-grid>
    </div>
  </dx-data-grid>
</div>